.dashboard {
  &__sidebar {
    z-index: 1;
    box-shadow: 5px 0px 5px rgba(0, 0, 0, 0.25);
    background-color: map-get($map: $colors, $key: oc-white);
  }

  &__content {
    background-color: map-get($map: $colors, $key: oc-pale-pink);
    padding: 21px;
  }

  @media screen and (min-width: 768px) {
    &__content {
      background-color: map-get($map: $colors, $key: oc-pale-pink);
      padding: 21px;
      display: flex;
      flex-direction: column;
      grid-gap: 25px;
    }

    @media screen and (min-width: 768px) {
      &__content {
        padding: 30px;
      }
    }
  }
}

.dashboard-sidebar {
  &__item {
    padding: 12px 34px;
    font-size: 24px;
    font-weight: 500;
    border-bottom: 1px solid lighten(map-get($map: $colors, $key: oc-gray), 70);
    cursor: pointer;
  }

  &__link {
    font-family: AvenirLight;
    font-size: 18px;
    font-weight: normal;
    color: map-get($map: $colors, $key: oc-gray);
  }

  &__link:hover {
    text-decoration: none;
    color: map-get($map: $colors, $key: oc-black);
  }

  &__list {
    margin-bottom: 0px;
  }

  &__subitem:hover {
    background-color: lighten(map-get($map: $colors, $key: oc-red), 47);
    box-shadow: 5px 0px map-get($map: $colors, $key: oc-red) inset;
  }
}
