.the-team {
  $rosado-claro: rgba(248, 102, 72, 0.12);
  padding: 56px 0 41px;
  background-image: url("../../../img/aboutus/virus.svg"),
    url("../../../img/aboutus/wave.svg"),
    linear-gradient($rosado-claro, $rosado-claro);
  background-position: center 30px, center 100.5%, center center;
  background-size: contain, contain, contain;
  background-repeat: no-repeat;

  &__title {
    font-family: "AvenirHeavy";
    font-size: 36px;
  }

  &__description {
    font-family: "AvenirLight";
    font-size: 24px;
    text-align: justify;
  }

  @media screen and (min-width: 1680px) {
    background-size: cover, contain, contain;
  }
}
