.membership-form {
  input {
    border: none;
  }

  &__label {
    font-size: 14px;
  }

  &__input--right {
    border-bottom-right-radius: 20px;
    border-top-right-radius: 20px;
  }

  &__input--left {
    border-bottom-left-radius: 20px;
    border-top-left-radius: 20px;
  }

  &__submit {
    background-image: url(../../img/footer/send.svg);
    background-repeat: no-repeat;
    background-position: 70px center;
    background-size: 25px;
  }

  &__submit--right {
    border-bottom-right-radius: 20px;
    border-top-right-radius: 20px;
  }

  &__submit--left {
    border-bottom-left-radius: 20px;
    border-top-left-radius: 20px;
  }

  input[type="submit"] {
    background-color: map-get($map: $colors, $key: oc-dark-green);
    color: white;
  }

  @media screen and (min-width: 768px) {
    &__label {
      font-size: 20px;
    }
  }
}
