.low-bar-wrapper {
  display: flex;
  border: 1px solid red;
  align-items: flex-end;
  span {
    border: 1px solid red;
    text-align: center;
    font-size: 20px;
  }
}

.low-bar__text {
  border: 1px solid red;
  font-size: 20px;
}
