.container-vaccination {
  h2 {
    margin-top: 1rem;
    text-align: center;
    font-style: normal;
    font-weight: bold;
    font-size: 44px;
    color: #3a3838;
  }
  .card-information {
    background-color: #e6f7e9;
    padding: 1.5rem !important;
    min-height: 26.5rem;
    .img-map {
      object-fit: cover;
      object-position: top;
      width: 100%;
      height: 23rem;
    }
    .img-society {
      width: 100%;
      min-height: 13.4rem;
      margin-top: 2rem;
      margin-right: 2rem;
      margin-bottom: 2rem;
    }
    span {
      font-size: 0.93rem;
    }

    .text-left-card {
      font-weight: normal;
    }

    .put-shoulder-mt5 {
      margin-top: 5rem !important;
    }
  }

  .searchregion-form__input {
    width: 60% !important;
  }

  .btn-vaccinate-state {
    background: #00b092;
  }

  input {
    box-shadow: none !important;
  }

  .desing-vaccinate-rows .col-1 {
    margin-top: 0.5rem;
    padding: 0;
  }

  .missing-vaccinate {
    width: 80%;
    height: 2rem;
    margin: auto;
    background: rgba(38, 50, 56, 0.4);
  }

  .first-dose {
    width: 90%;
    height: 2rem;
    margin: auto;
    background: #01abf6;
  }

  .dose-complete {
    width: 90%;
    height: 2rem;
    margin: auto;
    background: #00599d;
  }

  .section-vaccination-map {
    #inlineFrameExample {
      min-height: 600px;
    }
  }
}

@media only screen and (min-width: 250px) and (max-width: 715px) {
  .container-vaccination {
    h2 {
      margin: 1rem;
      font-size: 2rem;
    }
    .card-information {
      .img-map {
        object-fit: cover;
        object-position: top;
        width: 100%;
        height: 17rem;
        margin-bottom: 0.5rem;
      }
      .img-society {
        width: 100%;
        height: 17rem;
        margin-bottom: 0.5rem;
      }
    }
    .d-mobile-none {
      display: none;
    }
  }
}

@media only screen and (min-width: 551px) and (max-width: 990px) {
  .container-vaccination {
    h2 {
      margin: 1rem;
      font-size: 2rem;
    }
    .card-information {
      .img-map {
        object-fit: cover;
        object-position: top;
        width: 100%;
        height: 30rem;
      }
      .img-society {
        width: 100%;
        height: 20rem;
        margin: auto;
      }
    }
  }
}

//CardBody
.btn-fase {
  background: #0a544f !important;
  border: 1px solid #00bfa6;
  color: #fff !important;
  font-weight: normal !important;
  font-size: 1.5rem !important;
}

.btn-vaccinate {
  font-style: normal;
  font-weight: 500;
  font-size: 1.5rem;
  color: #00bfa6;
  border: 1px solid #00bfa6;
  font-weight: 500;
  background-color: #fff;
  border-radius: 5px;
  padding: 0.5rem;
}

.btn-vaccinate:hover {
  text-decoration: none;
  color: #00bfa6;
}
